body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.ui {
  padding: 10px;
  background: #1e1e1e;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #ff5555;
  color: white;
  font-size: 16px;
}

canvas {
  background: #0a3d62;
  display: block;
  margin: auto;
}
